<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/bootstrap.js"></script>
</head>