<!DOCTYPE html>
<html>
  <%- include("partials/head"); -%>
  <!-- <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head> -->
  <body>
    <%- include("partials/navbar"); -%>
    <div class="container m-4">
      <h1><%= title %></h1>
      <p><%= subtitle %></p>
    </div>
  </body>
</html>
